@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
.Footer {
    background-color: #1b2127;
    width: 100%;
    height: 5%;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.Footer__link {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}