@keyframes bar1 {
    50% {
        height: 69%;
    }
}

@keyframes bar2 {
    50% {
        height: 86%;
    }
}

@keyframes bar3 {
    50% {
        height: 51%;
    }
}

@keyframes bar4 {
    50% {
        height: 29%;
    }
}

@keyframes bar5 {
    50% {
        height: 52%;
    }
}

@keyframes bar6 {
    50% {
        height: 87%;
    }
}

@keyframes bar7 {
    50% {
        height: 25%;
    }
}

@keyframes bar8 {
    50% {
        height: 31%;
    }
}

@keyframes bar9 {
    50% {
        height: 37%;
    }
}

@keyframes bar10 {
    50% {
        height: 37%;
    }
}

@keyframes bar11 {
    50% {
        height: 72%;
    }
}

@keyframes bar12 {
    50% {
        height: 97%;
    }
}

@keyframes bar13 {
    50% {
        height: 47%;
    }
}

@keyframes bar14 {
    50% {
        height: 83%;
    }
}

@keyframes bar15 {
    50% {
        height: 50%;
    }
}

@keyframes bar16 {
    50% {
        height: 86%;
    }
}

@keyframes bar17 {
    50% {
        height: 47%;
    }
}

@keyframes bar18 {
    50% {
        height: 48%;
    }
}

@keyframes bar19 {
    50% {
        height: 92%;
    }
}

@keyframes bar20 {
    50% {
        height: 37%;
    }
}

@keyframes bar21 {
    50% {
        height: 45%;
    }
}

@keyframes bar22 {
    50% {
        height: 62%;
    }
}

@keyframes bar23 {
    50% {
        height: 31%;
    }
}

@keyframes bar24 {
    50% {
        height: 49%;
    }
}

@keyframes bar25 {
    50% {
        height: 34%;
    }
}

@keyframes bar26 {
    50% {
        height: 50%;
    }
}

@keyframes bar27 {
    50% {
        height: 45%;
    }
}

@keyframes bar28 {
    50% {
        height: 54%;
    }
}

@keyframes bar29 {
    50% {
        height: 41%;
    }
}

@keyframes bar30 {
    50% {
        height: 63%;
    }
}

@keyframes bar31 {
    50% {
        height: 54%;
    }
}

@keyframes bar32 {
    50% {
        height: 52%;
    }
}

@keyframes bar33 {
    50% {
        height: 66%;
    }
}

@keyframes bar34 {
    50% {
        height: 82%;
    }
}

@keyframes bar35 {
    50% {
        height: 45%;
    }
}

@keyframes bar36 {
    50% {
        height: 71%;
    }
}

@keyframes bar37 {
    50% {
        height: 48%;
    }
}

@keyframes bar38 {
    50% {
        height: 48%;
    }
}

@keyframes bar39 {
    50% {
        height: 83%;
    }
}

@keyframes bar40 {
    50% {
        height: 39%;
    }
}

@keyframes bar41 {
    50% {
        height: 75%;
    }
}

@keyframes bar42 {
    50% {
        height: 26%;
    }
}

@keyframes bar43 {
    50% {
        height: 35%;
    }
}

@keyframes bar44 {
    50% {
        height: 90%;
    }
}

@keyframes bar45 {
    50% {
        height: 32%;
    }
}

@keyframes bar46 {
    50% {
        height: 69%;
    }
}

@keyframes bar47 {
    50% {
        height: 32%;
    }
}

@keyframes bar48 {
    50% {
        height: 87%;
    }
}

@keyframes bar49 {
    50% {
        height: 42%;
    }
}

@keyframes bar50 {
    50% {
        height: 53%;
    }
}